#sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    pointer-events: auto;
    width: 19.5rem;
    opacity: 1;
    flex: 1 0 auto;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    background: var(--color-bg-bar);
    transition: var(--tran-02);
    z-index: 9999;
}

.sidebar-closed{
    transform: translateX(-20.5rem);
}

/* ======================================== SIDEBAR TOP ======================================== */
#sidebar .sidebar-top{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#sidebar .sidebar-top:hover{
    background-color: var(--color-sidebar_hover);
}

.logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'LolliPoptron', Times, serif;
    font-size: 1.3em;
    color: var(--color-text_primary);
}

.extra-options {
    background: url(/img/chevron-expand.svg) center no-repeat;
}

#dropdown-dnoteweb {
    font-size: 14px;
    min-width: 19.5rem;
}
#dropdown-dnoteweb div {
    padding: 5px 7px;
}

#close-sidebar{
    height: 25px;
    width: 25px;
    color: var(--color-btn_hover);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--tran-02);
}

#icon-close-sidebar {
    background: url(/img/chevron-double-left.svg) center no-repeat;
}

#icon-close-sidebar{
    filter: invert(40%) sepia(1%) saturate(2717%) hue-rotate(31deg) brightness(95%) contrast(86%);
}

#close-sidebar:hover{
    background-color: var(--color-btn_hover);
}

body.dark .sidebar-top #close-sidebar{
    color: var(--color-text_secondary);
}

/* ======================================== SEARCH BOX ======================================== */
.search-icon {
    background: url(/img/search.svg) center no-repeat;
    margin: 0 10px;
    cursor: auto;
}

#sidebar .search-box{
    height: 35px;
    list-style: none;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin: 10px;
    border-radius: 6px;
    background-color: var(--color-bg);
    transition: var(--tran-02);
}

#sidebar .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--color-bg);
    color: var(--color-text_primary);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-02);
}

/* ======================================== LIST OPTIONS ======================================== */
.list-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 2px var(--color-separator);
}
.list-options p {
    color: var(--color-text_secondary);
}

.list-options-right{
    display: inline-flex;
}

#icon-sort-down {
    background: url(/img/sort-down.svg) center no-repeat;
}

#icon-sort-up {
    background: url(/img/sort-up-alt.svg) center no-repeat;
}

#dropdown-colorFilterSidebar {
    min-width: 25px;
}

#icon-filter-settings {
    background: url(/img/sliders.svg) center no-repeat;
}

#dropdown-fiterSettings {
    font-size: 14px;
    min-width: 19.5rem;
}
#dropdown-filterSettings div {
    padding: 5px 7px;
    cursor: auto;
}

.btnRadio {
    margin-right: 5px;
    cursor: pointer;
}

/* ======================================== NOTE LIST ======================================== */
#sidebar .note-list{
    z-index: 1;
    overflow: hidden auto;
    color: var(--color-text_primary);
}

/* width */
#sidebar .note-list::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
#sidebar .note-list::-webkit-scrollbar-track {
    background: var(--color-scroll_track); 
}

/* Track on hover */
#sidebar .note-list::-webkit-scrollbar-track:hover {
    background: var(--color-scroll_track_hover);
}
   
/* Handle */
#sidebar .note-list::-webkit-scrollbar-thumb {
    background: var(--color-scroll_thumb); 
}
  
/* Handle on hover */
#sidebar .note-list::-webkit-scrollbar-thumb:hover {
    background: var(--color-scroll_thumb_hover); 
}

.btnMoreNoteItem{
    position: absolute;
    top: 9px;
    right: 10px;
}
.icon-noteItemMore {
    background: url(/img/more-horizontal.svg) center no-repeat;
    height: 23px!important;
}
.dropdown-moreNoteItem {
    font-size: 14px;
    min-width: 100px;
}
.dropdown-moreNoteItem div {
    padding: 5px 7px;
}

.note-item {
    position: relative;
    cursor: pointer;
    border-bottom: solid 1px var(--color-separator);
}
.note-item:hover {
    background-color: var(--color-note_hover);
}

.icon-note-item {
    width: 15px!important;
    height: 15px!important;
    margin-right: 3px;
}

.note-item--selected {
    background: var(--color-note_selected);
    font-weight: bold;
}

.note-short-title,
.note-short-updated {
    padding: 10px;
    display: flex;
    align-items: center;
}

.note-short-title {
    font-size: 1.1em;
}

.note-short-body {
    padding: 0 10px;
}

.note-short-updated {
    color: var(--color-text_secondary);
    font-style: italic;
    justify-content: right;
}

/* ======================================== NEW NOTE ======================================== */
#new-note-icon {
    background: url(/img/plus-lg.svg) center no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    padding: 3px;
    background-origin: content-box;
    margin-right: 10px;
}

#sidebar .new-note {
    display: flex;
    align-items: center;
    min-height: 27px;
    flex-shrink: 0;
    font-size: 14px;
    padding: 2px 14px;
    width: 100%;
    height: 45px;
    background-color: var(--color-btn_new_note);
    margin-top: auto;
    cursor: pointer;
}

#sidebar .new-note:hover {
    background-color: var(--color-btn_new_note_hover);
}