#sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    pointer-events: auto;
    width: 19.5rem;
    opacity: 1;
    flex: 1 0 auto;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    background: var(--sidebar-color);
    transition: var(--tran-03);
    z-index: 9999;
}

.sidebar-closed{
    transform: translateX(-20.5rem);
}

/* ======================================== SIDEBAR TOP ======================================== */
#sidebar .sidebar-top{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#sidebar .sidebar-top:hover{
    background-color: #555;
}

.logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'LolliPoptron', Times, serif;
    font-size: 1.3em;
}

.extra-options {
    background: url(/img/chevron-expand.svg) center no-repeat;
}

#close-sidebar{
    height: 25px;
    width: 25px;
    color: var(--toggle-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--tran-02);
}

#icon-close-sidebar {
    background: url(/img/chevron-double-left.svg) center no-repeat;
}

#icon-close-sidebar{
    filter: invert(40%) sepia(1%) saturate(2717%) hue-rotate(31deg) brightness(95%) contrast(86%);
}

#close-sidebar:hover{
    background-color: var(--toggle-color);
}

body.dark .sidebar-top #close-sidebar{
    color: var(--text-color);
}

/* ======================================== SEARCH BOX ======================================== */
.search-icon {
    background: url(/img/search.svg) center no-repeat;
    margin: 0 10px;
    cursor: auto;
}

#sidebar .search-box{
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 6px;
    background-color: var(--primary-color-light);
    transition: var(--tran-03);
}

#sidebar .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-03);
}

/* ======================================== LIST OPTIONS ======================================== */
.list-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 2px #f0f2fc;
}

.list-options-right{
    display: inline-flex;
}

#icon-sort-down {
    background: url(/img/sort-down.svg) center no-repeat;
}

#icon-sort-up {
    background: url(/img/sort-up-alt.svg) center no-repeat;
}

.content-dropdown-colorFilter--sidebar {
    display: none;
    position: fixed;
    top: 132px;
    background-color: #f9f9f9;
    min-width: 25px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

#icon-filter-settings {
    background: url(/img/sliders.svg) center no-repeat;
}

/* ======================================== NOTE LIST ======================================== */
#sidebar .note-list{
    z-index: 1;
    overflow: hidden auto;
}

/* width */
#sidebar .note-list::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
#sidebar .note-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Track on hover */
#sidebar .note-list::-webkit-scrollbar-track:hover {
    background: #e2e2e2;
    border: solid 0.5px #dbd8d8;
}
   
/* Handle */
#sidebar .note-list::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
#sidebar .note-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.note-btn-more {
    background: url(/img/more-horizontal.svg) center no-repeat;
    width: 25px;
    height: 20px;
    border: none;
    background-size: contain;
    padding: 3px;
    cursor: pointer;
    background-origin: content-box;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #69fe5c;
}
.note-btn-more:hover {
    background-color: #83b57f;
}

.note-item {
    position: relative;
    cursor: pointer;
    border-bottom: solid 1px #f0f2fc;
}
.note-item:hover {
    background-color: rgb(212, 212, 212);
}

.icon-note-item {
    width: 15px!important;
    height: 15px!important;
    margin-right: 3px;
}

.note-item--selected {
    background: #eeeeee;
    font-weight: bold;
}

.note-short-title,
.note-short-updated {
    padding: 10px;
    display: flex;
    align-items: center;
}

.note-short-title {
    font-size: 1.1em;
}

.note-short-body {
    padding: 0 10px;
}

.note-short-updated {
    color: #aaaaaa;
    font-style: italic;
    justify-content: right;
}

/* ======================================== NEW NOTE ======================================== */
#new-note-icon {
    background: url(/img/plus-lg.svg) center no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    padding: 3px;
    background-origin: content-box;
    margin-right: 10px;
}

#sidebar .new-note {
    display: flex;
    align-items: center;
    min-height: 27px;
    flex-shrink: 0;
    font-size: 14px;
    padding: 2px 14px;
    width: 100%;
    height: 45px;
    background-color: #69fe5c;
    margin-top: auto;
    cursor: pointer;
}

#sidebar .new-note:hover {
    background-color: #5fe153;
}