@import url("/css/sidebar.css");
@import url("/css/top-group.css");
@import url("/css/note-area.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');


* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

@font-face {
    font-family: "LolliPoptron";
    src: url("/font/Lollipoptron-7GPD.ttf");
}

:root{
    /* ---> Colors */ 
    --color-bg: #F6F5FF;
    --color-bg-bar: #FFFFFF;
    --color-dropdown: #f9f9f9;

    --color-btn_new_note: #04df67;
    --color-btn_new_note_hover: #08af53;

    --color-selection: #15e070;

    --color-sidebar_hover: #f5f5f5;
    --color-btn_hover: #dddddd;
    --color-note_selected: #eeeeee;
    --color-note_hover: #f5f5f5;
    --color-separator: #f3f3f3;
    --color-text_note: #000000;
    --color-text_primary: #2b2b2b;
    --color-text_secondary: #878787;

    --color-border: rgb(1, 1, 1, 0.2);

    --color-icon: invert(19%) sepia(26%) saturate(9%) hue-rotate(34deg) brightness(93%) contrast(95%);

    --color-scroll_thumb: #a0a0a0;
    --color-scroll_thumb_hover: #878787;
    --color-scroll_track: #f1f1f1;
    --color-scroll_track_hover: #e2e2e2;
    --color-scroll_btn: #a0a0a0;

    /* ---> Transition */
    --tran-01: all 100ms ease;
    --tran-02: all 200ms ease;
    --tran-03: all 300ms ease;
}

body {
    font-family: "Arial", serif;
    background-color: var(--color-bg);
    overflow: hidden;
}

::selection {
    background-color: var(--color-selection);
}

body.dark{
    color-scheme: dark;

    --color-bg: #18191a;
    --color-bg-bar: #242526;
    --color-dropdown: #262626;

    --color-sidebar_hover: #414141;
    --color-btn_hover: #3a3a3a;
    --color-note_selected: #383838;
    --color-note_hover: #525252;
    --color-separator: #3d3d3d;
    --color-text_note: #e5e5e5;
    --color-text_primary: #cccccc;
    --color-text_secondary: #737373;

    --color-border: rgba(148, 148, 148, 0.2);

    --color-icon: invert(95%) sepia(1%) saturate(171%) hue-rotate(39deg) brightness(89%) contrast(87%);

    --color-selection: #08783a;

    --color-scroll_thumb: #686868;
    --color-scroll_thumb_hover: #7b7b7b;
    --color-scroll_track: #424242;
    --color-scroll_track_hover: #424242;
    --color-scroll_btn: #9a9a9a;
}

.left{
    transition: var(--tran-02);
    margin: 0;
    max-width: 100%;
}

.right{
    margin-left: 0px;
}

.displayNone {
    display: none;
}

/* ======================================== REUSABLE ======================================== */

/* ========== BTN and ICON ========== */
#sidebar .btn, #top-group .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
    color: var(--color-text_primary);
    -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
        -o-user-select:none;
}

.btn:hover{
    background-color: var(--color-btn_hover);
}

.active {
    background-color: var(--color-btn_hover);
}

#sidebar .icon, #top-group .icon {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    background-size: contain;
    background-origin: content-box;
    width: 25px;
    height: 25px;
    padding: 3px;
    filter: var(--color-icon);
}
#sidebar #color-filter-sidebar .icon, 
#top-group #dropdown-colorFilterTopbar .icon{
    filter: none!important;
}

/* ========== DROPDOWNS ========== */

.content-dropdown {
    display: none;
    position: fixed;
    background-color: var(--color-dropdown);
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
        -o-user-select:none;
}
.content-dropdown div {
    color: var(--color-text_primary);
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
}
.content-dropdown div:hover {
    background-color: var(--color-btn_hover);
}
.show-dropdown {
    display: flex;
    flex-direction: column;
    z-index: 102;
}

.color-filter .btn {
    margin: 0!important;
}
.circle {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: solid 1.5px;
}
.circle-gray {
    background-color: gray;
    border: solid 1px rgb(75, 75, 75);
}
.circle-red {
    background-color: rgb(255, 99, 90);
    border: solid 1px rgb(176, 55, 49)
}
.circle-orange {
    background-color: rgb(246, 182, 63);
    border: solid 1px rgb(181, 134, 47);
}
.circle-yellow {
    background-color: rgb(244, 244, 20);
    border: solid 1px rgb(226, 226, 31);
}
.circle-green {
    background-color: rgb(84, 214, 103);
    border: solid 1px rgb(62, 157, 76);
}
.circle-blue {
    background-color: rgb(53, 149, 255);
    border: solid 1px rgb(39, 105, 175);
}
.circle-purple {
    background-color: rgb(191, 118, 228);
    border: solid 1px rgb(137, 84, 164);
}
.circle-neutral {
    background-color: rgba(229,229,247,0);
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, rgba(21, 209, 147, 1), rgba(21, 209, 147, 1) 1px, rgba(229,229,247,0) 1px, rgba(229,229,247,0) 3.5px );
}

/* ========== ---------- ========== */
input[type=text] {
    border-width: 0px;
    border: none;
    outline: 0;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	display: none;
}