@import url("/css/sidebar.css");
@import url("/css/top-group.css");
@import url("/css/note-area.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "LolliPoptron";
    src: url("/font/Lollipoptron-7GPD.ttf");
}

:root{
    /* ---> Colors */
    --body-color: #f3f4f7;
    --sidebar-color: #FFF;
    --primary-color: #2417b9;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ---> Transition */
    --tran-01: all 100ms ease;
    --tran-02: all 100ms ease;
    --tran-03: all 200ms ease;
}

body {
    font-family: "Arial", serif;
    background-color: var(--body-color);
    overflow: hidden;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.left{
    transition: var(--tran-03);
    margin: 0;
    max-width: 100%;
}

.right{
    margin-left: 0px;
}

.displayNone {
    display: none;
}

/* ======================================== REUSABLE ======================================== */

/* ========== BTN and ICON ========== */
#sidebar .btn, #top-group .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #fe875c;
}

#sidebar .icon, #top-group .icon {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    background-size: contain;
    background-origin: content-box;
    width: 25px;
    height: 25px;
    padding: 3px;
}

/* ========== DROPDOWNS ========== */

.content-dropdown {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}
.content-dropdown div {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
        -o-user-select:none;
}
.content-dropdown div:hover {
    background-color: #ddd;
}
.show-dropdown {
    display: flex;
    flex-direction: column;
    z-index: 102;
}

.color-filter .btn {
    margin: 0!important;
}
.circle {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: solid 1.5px;
}
.circle-gray {
    background-color: gray;
    border: solid 1px rgb(75, 75, 75);
}
.circle-red {
    background-color: rgb(255, 99, 90);
    border: solid 1px rgb(176, 55, 49)
}
.circle-orange {
    background-color: rgb(246, 182, 63);
    border: solid 1px rgb(181, 134, 47);
}
.circle-yellow {
    background-color: rgb(244, 244, 20);
    border: solid 1px rgb(226, 226, 31);
}
.circle-green {
    background-color: rgb(84, 214, 103);
    border: solid 1px rgb(62, 157, 76);
}
.circle-blue {
    background-color: rgb(53, 149, 255);
    border: solid 1px rgb(39, 105, 175);
}
.circle-purple {
    background-color: rgb(191, 118, 228);
    border: solid 1px rgb(137, 84, 164);
}
.circle-neutral {
    background-color: rgba(229,229,247,0);
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, rgba(21, 209, 147, 1), rgba(21, 209, 147, 1) 1px, rgba(229,229,247,0) 1px, rgba(229,229,247,0) 3.5px );
}

/* ========== ---------- ========== */
input[type=text] {
    border-width: 0px;
    border: none;
    outline: 0;
}