@import url("/css/sidebar.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "LolliPoptron";
    src: url("/font/Lollipoptron-7GPD.ttf");
}

:root{
    /* ---> Colors */
    --body-color: #f3f4f7;
    --sidebar-color: #FFF;
    --primary-color: #2417b9;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ---> Transition */
    --tran-01: all 100ms ease;
    --tran-02: all 100ms ease;
    --tran-03: all 200ms ease;
}

body {
    font-family: "Arial", serif;
    background-color: var(--body-color);
    overflow: hidden;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}