/* ======================================== TOP BAR ======================================== */
.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 45px;
    position: sticky;
    top: 0;
    padding: 0 10px;
    background-color: var(--sidebar-color);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    z-index: 101;
    border-bottom: solid 1px rgb(1, 1, 1, 0.2);
}

.open-sidebar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 7px;
    cursor: pointer;
    border-radius: 3px;
}
.open-sidebar:hover {
    background-color: #ddd;
}

.color-e-title {
    transition: var(--tran-03);
    margin-left: 260px;
    display: flex;
    padding: 15px 5px;
    flex: 1;
    align-items: center;
}

#dropdown-colorFilterTopbar {
    min-width: 25px;
}

.note-title{
    display: inline-block;
    width: 50%;
    font-size: 20px;
    margin-left: 10px;
}

.actions {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-right: 0px;
    padding-left: 12px;
    justify-content: space-between;
    z-index: 101;
    height: 45px;
}

.actions > * {
    margin-left: 1rem;
}

.toggle-toolbar {
    padding-left: 6px;
    padding-right: 3px;
}
.icon-toggle-toolbar {
    background: url(/img/chevron-up.svg) center no-repeat;
    transition: var(--tran-01);
}

#icon-more-horizontal {
    background: url(/img/more-horizontal.svg) center no-repeat;
}

#dropdown-moreTopbar {
    min-width: 150px;
}
#dropdown-moreTopbar div {
    padding: 4px 5px;
}

.more-delete {
    background: url(/img/more/trash.svg) center no-repeat;
    margin-right: 5px;
}
.more-export {
    background: url(/img/more/download.svg) center no-repeat;
    margin-right: 5px;
}
.more-details {
    background: url(/img/more/info-square.svg) center no-repeat;
    margin-right: 5px;
}
.more-fullscreen {
    background: url(/img/more/fullscreen.svg) center no-repeat;
    margin-right: 5px;
}
.more-mode {
    background: url(/img/dark-mode.svg) center no-repeat;
    margin-right: 5px;
}
.more-github {
    background: url(/img/github.svg) center no-repeat;
    margin-right: 5px;
}

/* ======================================== TOOLBAR ======================================== */
/* Hide scrollbar for Chrome, Safari and Opera */
.top-toolbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge add Firefox */
.top-toolbar {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}
.top-toolbar {
    transition: var(--tran-03);
    border-bottom: solid 1px rgb(1, 1, 1, 0.2);
    display: flex;
    width: 100%;
    height: 40px;
    position: relative;
    background-color: var(--sidebar-color);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    z-index: 100;
    padding-right: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto hidden;
    align-items: center;
}

.toolbar-closed {
    transform: translateY(-55px);
}

.toolbar-group{
    display: flex;
    margin-right: 10px;
    margin-left: 300px;
    width: 950px;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: var(--tran-03);
}

#scroll-toolbar{
    margin: 0 5px;
}
#scroll-left:hover, #scroll-right:hover {
    background-color: rgb(134, 134, 134);
}
#scroll-left {
    background: url(/img/toolbar/chevron-compact-left.svg) center no-repeat;
    position: fixed;
    left: 312px;
    transition: var(--tran-01);
}
#scroll-right {
    background: url(/img/toolbar/chevron-compact-right.svg) center no-repeat;
    position: fixed;
    right: 0;
    top: 45px;
    transition: var(--tran-01);
}
#scroll-left, #scroll-right {
    height: 40px!important;
    width: 18px!important;
    padding: 0!important;
    background-color: #adabab;
    z-index: 9999;
}

.gp-formats {
    display: flex;
    align-items: center;
}

/* ========== Toolbar components ========== */
#fontName,#fontSize {
    height: 25px;
    border-width: 0px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    padding: 3px;
}

#fontName {
    width: 143px;
    margin-right: 5px;
}
#dropdown-fontName {
    position: relative;
    display: block;
}
#content-dd-fontName {
    min-width: 143px;
    font-size: 14px;
}
#content-dd-fontName p {
    color: rgb(112, 112, 112);
    padding: 3px 3px;
    text-decoration: none;
    display: block;
}
#content-dd-fontName div {
    padding: 3px 3px;
}

#fontSize {
    width: 49px;
}
#fontSize:focus{
    outline: none;
}
#dropdown-fontSize {
    position: relative;
    display: block;
}
#content-dd-fontSize {
    font-size: 14px;
    min-width: 49px;
}
#content-dd-fontSize p {
    color: rgb(112, 112, 112);
    padding: 3px 3px;
    text-decoration: none;
    display: block;
}
#content-dd-fontSize div {
    padding: 3px 3px;
}

.toolbar-verticalSeparator{
    margin: 0 0 0 5px;
    height: 20px;
    border-right: solid 2px #f1f1f1;
}

/* ===== Buttons ===== */
#icon-bold {
    background: url(/img/toolbar/type-bold.svg) center no-repeat;
}
#icon-italic {
    background: url(/img/toolbar/type-italic.svg) center no-repeat;
}
#icon-underline {
    background: url(/img/toolbar/type-underline.svg) center no-repeat;
}
#icon-strikethrough {
    background: url(/img/toolbar/type-strikethrough.svg) center no-repeat;
}
#icon-superscript {
    background: url(/img/toolbar/superscript.svg) center no-repeat;
}
#icon-subscript {
    background: url(/img/toolbar/subscript.svg) center no-repeat;
}
#icon-eraser {
    background: url(/img/toolbar/eraser.svg) center no-repeat;
}
#icon-quote {
    background: url(/img/toolbar/quote.svg) center no-repeat;
}
#icon-colorText {
    /* background: url(/img/toolbar/color-text.svg) center no-repeat; */
    align-items: center;
    justify-content: center;
}
#icon-colorFill {
    /* background: url(/img/toolbar/color-fill.svg) center no-repeat; */
    align-items: center;
    justify-content: center;
}
#icon-unorderedList {
    background: url(/img/toolbar/list-unordered.svg) center no-repeat;
}
#icon-orderedList {
    background: url(/img/toolbar/list-ordered.svg) center no-repeat;
}
#icon-checkList {
    background: url(/img/toolbar/list-check.svg) center no-repeat;
}
#icon-indentLeft {
    background: url(/img/toolbar/text-indent-left.svg) center no-repeat;
}
#icon-indentRight {
    background: url(/img/toolbar/text-indent-right.svg) center no-repeat;
}
.alignText{
    width: 43px!important;
}
#icon-alignText{
    background: url(/img/toolbar/text-paragraph.svg) right center no-repeat;
    padding-right: 0!important;
}
#icon-dropDown{
    background: url(/img/arrow-drop-down.svg) left top no-repeat;
    padding: 0!important;
}
#dropdown-alignText {
    min-width: 43px;
}
#top-group .alignText .btn {
    margin: 0;
}
#icon-alignLeft {
    background: url(/img/toolbar/text-left.svg) center no-repeat;
}
#icon-alignCenter {
    background: url(/img/toolbar/text-center.svg) center no-repeat;
}
#icon-alignRight {
    background: url(/img/toolbar/text-right.svg) center no-repeat;
}
#icon-justify {
    background: url(/img/toolbar/text-justify.svg) center no-repeat;
}
#icon-link {
    background: url(/img/toolbar/link-45deg.svg) center no-repeat;
}
#icon-addPhoto {
    background: url(/img/toolbar/add-photo.svg) center no-repeat;
}
#icon-code {
    background: url(/img/toolbar/code-slash.svg) center no-repeat;
}
#icon-returnLeft {
    background: url(/img/toolbar/arrow-return-left.svg) center no-repeat;
}
#icon-returnRight {
    background: url(/img/toolbar/arrow-return-right.svg) center no-repeat;
}

/* ========== Fonts ========== */
#font-arial {
    font-family: Arial, Helvetica, sans-serif;
}
#font-calibri {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#font-cambria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#font-courier {
    font-family: 'Courier New', Courier, monospace;
}
#font-cursive {
    font-family: cursive;
}
#font-georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#font-helvetica {
    font-family: Helvetica, sans-serif;
}
#font-inter {
    font-family: 'Inter', sans-serif;
}
#font-poppins {
    font-family: 'Poppins', sans-serif;
}
#font-roboto {
    font-family: 'Roboto', sans-serif;
}
#font-sans {
    font-family: sans-serif;
}
#font-segoe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#font-tahoma {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
#font-times {
    font-family: 'Times New Roman', Times, serif;
}
#font-trebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#font-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}